# --- Common structured data ---
*.csv
*.tsv
*.xls
*.xlsx
*.ods
*.parquet
*.log
*.out
*.dat
*.json
*.png
*.pkl
*.npy
*.h5
*.html

# Python cache / bytecode
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/